.imagecard {
  background-color: red;
  cursor: pointer;
  &__img {
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #e7e7e7;
    position: relative;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  &__count {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #397ff1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    color: white;
    font-size: 40px;
    font-weight: bold;
  }
}
