.table {
  width: 100%;
  //   background-color: #e2e2e2;
  color: #e2e2e2;
  &__select {
    width: 12px !important;
  }
  &__wrapper {
    width: 100%;
    margin-left: 40px;
    tr {
      text-align: left;
    }
  }
  &__dropdown {
    margin-right: 8px;
    button {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      &::after {
        display: none;
      }
    }
  }
}
